@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');



/*
  font-family: 'Handlee', cursive;
  font-family: 'Montserrat', sans-serif;
  color-principal: #fa573a
  color-azul: #21242e;
  */

html {

    /*para generar animaciones de puntos de ancla*/

    scroll-behavior: smooth;
}

:root {
    --fuenteprincipal: 'Montserrat', sans-serif;
    --fuentetitulos: 'Handlee', cursive;
    --colorprincipal: #fa573a;
    --colorsecundario: #21242e;
    --margingrid: 1em;
    --font-size: 1em;
    --anchomaximo: 1100px;

}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.container {
    max-width: var(--anchomaximo);
    margin: 0 auto;
}

body {
    font-family: var(--fuenteprincipal);
    font-size: var(--fontsize);
}

/*inicio header*/

header .nav-top {
    background-color: var(--colorsecundario);
    padding: 1.250em 0;

}

header .nav-top .container {
    display: flex;
    justify-content: space-around;
}

header .nav-top a {
    text-decoration: none;
    color: var(--colorprincipal)
}

header nav-top a i {
    font-size: 150%;
}

header .nav-top span {
    color: white;
    display: none;
}

header nav {
    padding: 1.250em;
}

header .hamburguesa {
    width: 1.875em;
    cursor: pointer;

}

header .hamburguesa div {
    border-top: 2px solid #aaa;
    margin-bottom: 0.625em;
}

header nav .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav .menu {
    padding-top: 1.25em;
    width: 100%;
}

header .logo {
    max-width: 100px;
}

header .menu a {
    display: block;
    text-align: center;
    padding: 1.25em;
    text-decoration: none;
    color: #aaa;
    border-bottom: 1px solid #aaa;
    transition: 0.5s;

}

header .menu a:hover {
    color: var(--colorprincipal)
}

header .menu li:last-child a {
    border-bottom: 0px;
}

header .menu .activo {
    color: var(--colorprincipal);
}



/*final header*/

/*inicio footer*/

footer {
    background-color: var(--colorsecundario);
    padding: 1.250em 0px;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: var(--colorprincipal);
}

.flecha a {
    display: block;
    color: var(--colorprincipal);
    position: fixed;
    bottom: 60px;
    right: 10px;
    font-size: 250%;
}

/*final footer*/

/*inicio hero*/

.hero {
    background-image: url(assets/material-2/images/fondo.jpg);
    background-color: #777;
    background-blend-mode: multiply;
    background-position: center center;
    background-size: cover;
    color: white;
    height: 60vh;
    display: flex;

}

.hero .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;

}

.hero h1 {
    font-family: var(--fuentetitulos);
    font-size: 2.25em;
}

.hero h2 {
    color: var(--colorprincipal);
    font-size: 1.25em;
    margin: var(--margingrid) 0;

}

.hero p {
    font-size: 1.15em;
}

.boton {
    display: inline-block;
    background-color: var(--colorprincipal);
    padding: 1.15em;
    color: white;
    text-decoration: none;
    border: 1px solid var(--colorprincipal);
    margin: var(--margingrid) 0;
}

.boton:hover {
    background-color: transparent;
    color: var(--colorprincipal);
}

.boton:hover i {
    transition: transform 0.5s;
    transform: translateX(5px) scale(1.15);
}

.hero .social {
    display: flex;
    width: 160px;
    justify-content: space-between;
}

.hero .social a {
    color: white;
    font-size: 2em 1.5em;
}

/* final hero*/

main section {

    padding: 2.188em;
}

main section h2 {
    color: black;
    font-family: var(--fuentetitulos);
    font-size: 2em;
    text-align: center;
}

main section h2 span {
    color: var(--colorprincipal);
}

main section .underline {
    position: relative;
    width: 6.250em;
    margin: 0 auto;
    color: var(--colorprincipal);
    font-weight: 700;
    margin-bottom: var(--margingrid);
}

main section .underline hr {
    border-color: var(--colorprincipal);
    position: absolute;
    width: 100%;
    top: -1px;
}

main section .underline span {

    text-align: center;
    display: block;

}

main section:last-child {
    padding-bottom: 90px;
}

/* inicio ourservices*/


main #ourservices .grid {
    display: grid;
    grid-column: 1fr;
    gap: var(--margingrid);

}

main #ourservices article {
    border-bottom: 1px solid #aaa;
    padding: 1.5em 0;
}

main #ourservices article i:not(.fa-long-arrow-alt-right) {
    color: var(--colorprincipal);
    font-size: 140%;
    border: 1px solid var(--colorprincipal);
    display: inline-block;
    padding: 0.5 em;

}

main #ourservices h3 {
    font-weight: 700;
    margin: 10px;
    font-size: 110%;
}

main #ourservices p {
    color: #777;
    line-height: 1.25em;
    margin-bottom: 0.5em;
}

.enlace {
    text-decoration: none;
    color: var(--colorprincipal);
    font-weight: 700;
}

.fa-truck {
    transform: rotateY(180deg);
}



/*final ourservices*/

/* inicio about us*/

main #aboutus .flex {
    display: flex;
    flex-direction: column;
    gap: var(--margingrid);
}

main #aboutus h3 {
    font-weight: 700;
    font-size: 110%;
}

main #aboutus h4 {
    margin: 1em 0;
    color: var(--colorprincipal);
}

main section p {
    color: #777;
    line-height: 1.25em;
}

main #aboutus .marco {
    border: 3px solid var(--colorprincipal);
    transform: rotateZ(10deg);
    width: 95%;
    margin: 0 auto;
    transition: 1s;

}

main #aboutus .marco img {
    transform: rotateZ(-10deg);
    transition: 1s;
}

main #aboutus figure:hover :is(.marco, img) {
    transform: rotateZ(0deg);
}

/* final about us*/

/* inicio our blogs */


main #ourblogs .grid {
    display: flex;
    flex-wrap: wrap;
    gap: var(--margingrid);
}

main #ourblogs article {
    width: calc(50% - var(--margingrid));
}

main #ourblogs h3 {
    font-weight: 700;
    font-size: 110%;
}

main #ourblogs h4 {
    margin: 1em 0;
    color: var(--colorprincipal);
}

main #ourblogs p {
    color: #777;
    line-height: 1.25em;
}

.boton_2 {
    display: inline-block;
    padding: 1.15em;
    color: var(--colorprincipal);
    text-decoration: none;
    margin: var(--margingrid) 0;
}

main #ourblog .calendario {
    font-weight: 700;
    line-height: 1.25em;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;

}

.calendario {
    color: white;
}

main #ourblog .flex {
    display: flex;
    flex-wrap: wrap;
    gap: tar(--margingrid);
}


main #ourblog article {
    width: calc(50%-var(--margingrid));
}

.flex div.calendario {
    background-color: var(--colorprincipal);
    background-blend-mode: lighten;
}

/* final our blogs */

/* mediaqueries */
/*600px*/
@media (min-width: 37.500em) {
    main #ourservices .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    main #ourservices article:last-child {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    main #ourservices article {
        border-bottom: 0px;
        border-left: 1px solid #aaa;
        padding: 1.5em;
    }

    main #aboutus .flex {

        flex-direction: row;

    }

}

/*768px*/
@media (min-width: 48.000em) {
    header .nav-top span {

        display: inline;
        font-size: 110%;
    }

    header .nav-top .container {
        justify-content: space-between;
    }

    footer {
        text-align: left;
    }

    main #ourservices .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    main #ourservices article:last-child {
        grid-column: 3/4;
    }

    main #ourblogs article {
        width: calc(33.333% - var(--margingrid));
    }

    /*Queda pendiente ajustar los márgenes del nav-top*/
}

@media (min-width: 62.750em) {

    header .hamburguesa {
        display: none;
    }

    header nav .menu {
        width: auto;
        padding-top: 0%;
    }

    header nav .menu li {
        display: inline-block;
    }

    header .menu a {
        border-bottom: 0px;
        padding: 0.5em 0 0.5em 1.25em;
    }


}